html {
  direction: rtl;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Vazir", Tahoma, Verdana, "Times New Roman";
  user-select: none;
  display: flex;
  flex-direction: column;
  font-size: 100%;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
}
.logo {
  margin: 4rem 0;
  width: 60%;
}
main {
  margin: 0 auto;
  max-width: 1200px;
}
.title {
  color: #444;
  margin: 2rem auto;
  width: 80px;
  padding: 0 1rem 0.5rem;
  border-bottom: 2px solid #888;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subclass {
  border-top: 1px solid rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subprojects {
  display: flex;
  flex-direction: column;
}
.subtitle {
  color: #444;
  background-color: #f3f3f3;
  padding: 0.5rem 2rem;
  margin: 1rem;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 0;
  margin-top: 1rem;
  transition: all 1s;
}
.project:hover {
  opacity: 0.5;
}
.project-cover {
  width: 60%;
  margin: 0 auto;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
  justify-content: center;
  object-fit: cover;
  object-position: 100% 0;
}
.gallery img {
  transition: 1s;
  padding: 5px;
  width: 100px;
}
.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
footer {
  margin-top: 4rem;
  padding: 2rem;
  background-color: #f8f8f8;
  /* height: 100px; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
.address,
.tel {
  font-size: 0.9rem;
  color: #777;
  line-height: 1.8rem;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .logo {
    margin: 5rem 0;
    width: 90%;
  }
  .header {
    width: 440px;
    margin: 0 auto;
  }
  .title {
    font-size: 1.5rem;
    padding: 0 1.5rem 0.5rem;
    width: 120px;
  }

  .subprojects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project {
    width: 300px;
    margin: 0.5rem;
  }
  .project-cover {
    width: inherit;
    margin: 0;
  }
}
